@model Professores

<form asp-controller="Professor" asp-action="Cadastrar" method="post">

    <div class="mb-3 col-md-4">
        <label class="form-label">Nome:</label>

        @if (TempData["ErroNomeInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroNomeInvalida"]</p>
        }

        <input type="text" asp-for="Nome" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Email:</label>

        @if (TempData["ErroEmailInvalido"] != null)
        {
            <p style="color: red;">@TempData["ErroEmailInvalido"]</p>
        }

        <input type="text" asp-for="Email" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Disciplina:</label>

        @if (TempData["ErroDisciplinaInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroDisciplinaInvalida"]</p>
        }

        <input type="text" asp-for="Disciplina" class="form-control" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn btn-primary" type="button" asp-controller="Professor" asp-action="Index"> Voltar</a>
    </div>
</form>